@using WEB_KTX_Management.Response;
@{
    ViewBag.Title = "ListNhanVien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SinhVienResponse

<h2>ListNhanVien</h2>
<label>@foreach(SinhVien sv in Model.list) { 
            <label>@sv.name</label>
       }</label>